.aboutLimovia {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0px;
    background-color: #191919;
}

.aboutLimoviaInfo:nth-child(2) {
    padding: 30px;
}

.aboutLimoviaInfo img {
    width: 900px;
    height: auto;
}

.aboutLimoviaText1 {
    text-align: center;
    font-size: 35px;
    width: 100%;
    color: #E6D8D7;
    padding-top: 25px;
}

.aboutLimoviaText1 h1 {
    font-weight: lighter;
}

.aboutLimoviaText2 {
    text-align: center;
    color: white;
    font-size: larger;
    font-style: oblique;
    padding: 20px 0;
}

.aboutLimoviaText3 {
    text-align: center;
    color: white;
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
}

.aboutLimoviaImage768px {
    display: none;
}

/* -------------------- About Limovia Hero Image -------------------- */

.aboutLimoviaHeroImage {
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("../IMAGES/GuyInCar.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.aboutLimoviaHeroText {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

.aboutLimoviaHeroText h1 {
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: 400;
}

.aboutLimoviaHeroText p {
    padding: 0 100px;
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
}

/* -------------------- About Limovia Slideshow -------------------- */

.aboutLimoviaSlideshow {
    min-height: 50vh;
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.slides {
    padding: 75px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 1s ease;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -30px;
    margin: 0 40px;
    padding: 20px;
    color: white;
    font-weight: 100;
    font-size: 30px;
    user-select: none;
    transition: 500ms;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slides p {
    padding: 20px;
    font-size: larger;
    user-select: none;
}

.quoteIcon img {
    width: 50px;
    height: auto;
}

.author {
    font-style: oblique;
    color: #E6D8D7;
}

.prev:hover,
.next:hover {
    color: #F6DBC0;
}