.bookHeroImage {
    min-height: 60vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bookHeroImage2 {
    min-height: 60vh;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bookHeroImage2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

.bookHeroImage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

.headMainContainer {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: black;
    padding: 50px 0px;
    color: white;
}

.calendar {
    background-color: black;
    overflow: hidden;
    color: white;
    transition: 500ms;
}

.month-navigation h2 {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.month,
.selectTime {
    font-family: 'Raleway', sans-serif;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    transition: 500ms;
}

.weekday {
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    border-radius: 4px;
}

.header {
    color: white;
    text-align: center;
}

.month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-size: large;
    grid-gap: 10px;
}

.day {
    padding: 10px;
    font-size: large;
    cursor: pointer;
}

.day:hover {
    background-color: #E6D8D7;
    color: black;
}

.day.active {
    background-color: #E6D8D7;
    color: black;
}

.month-navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.month-navigation button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 30px;
    cursor: pointer;
}

.bookingCalendar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    padding-top: 50px;
}

.calendarContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    grid-gap: 20px;
}

.selectedTime {
    padding: 20px;
    font-size: 25px;
    text-align: center;
}

.bookHR {
    border: solid .1px #373B4D;
    border-radius: 5px;
    width: 100%;
    margin: 20px 0px;
}

.smallScreenHR {
    display: none;
}

.serviceInfo h1 {
    font-weight: lighter;
    font-size: 2.5em;
    color: #E6D8D7;
    padding-bottom: 15px;
}

.serviceInfo p {
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1px;
    font-style: oblique;
}

.serviceInfo {
    width: 100%;
}

.selectWheelRegion {
    position: relative;
    width: 65%;
}

.selectWheelRegion select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: black;
    color: white;
    border: 1px solid #373B4D;
    padding: 13px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-style: oblique;
    width: 35%;
    outline: none;
    cursor: pointer;
}

.selectWheelRegion::before {
    content: '\25BC';
    color: white;
    position: absolute;
    top: 50%;
    width: 68%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 14px;
}

.bookingCalendarLeft h2,
.bookingInformation h2 {
    font-weight: lighter;
    font-size: 25px;
}

.bookingCalendarLeftTitle p {
    font-style: oblique;
}

.bookingCalendarLeftTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookingInformationRow {
    font-size: 20px;
    padding-bottom: 20px;
}

.bookingInformationRow span:nth-child(odd) {
    font-style: oblique;
}

.bookingInformationRow span:nth-child(even) {
    font-size: 19px;
}

.selectTimeInput input {
    width: 150px;
    font-size: 18px;
    outline: none;
    font-style: oblique;
    color: black;
    transition: 500ms;
    font-family: 'Roboto', sans-serif;
    padding: 13px;
    box-sizing: border-box;
    background-color: white;
    border: solid 2px #373B4D;
}

.selectTimeInput input:focus {
    border: solid 2px white;
}

.selectTimeInput {
    text-align: center;
}

.nextPage button {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: larger;
    border: solid 2px white;
    transition: 500ms;
    padding: 13px;
    font-style: oblique;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin-top: 10px;
}

.nextPage button:hover {
    color: white;
    background-color: black;
}

/* ----------------------- Customer info --------------------------*/

.bookingFromContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 60px;
}

.bookInputRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
}

.bookInputGroup {
    display: block;
}

.bookInputRow .bookInputGroup {
    flex-basis: 48%;
}

.bookInputGroupFullWidth {
    flex-basis: 100%;
}

.bookInputRow input {
    width: 100%;
    font-size: 16px;
    outline: none;
    color: aliceblue;
    transition: 500ms;
    padding: 13px;
    box-sizing: border-box;
    background-color: black;
    border: solid 1px white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bookInputRow label {
    font-size: larger;
    font-style: oblique;
}

/* ----------------------- Payment info --------------------------*/
.paymentCards img {
    width: 50px;
    height: auto;
}

.paymentCards {
    display: flex;
    justify-content: center;
    width: 100%;
}

.paymentIcons {
    padding: 5px;
}

.selectPaymentWheel {
    position: relative;
    width: 100%;
}

.cardPayment,
.invoicePayment {
    padding-top: 20px;
}

.selectPaymentWheel select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: black;
    border: 1px solid white;
    padding: 13px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    font-style: oblique;
    outline: none;
    color: white;
}

.selectPaymentWheel::before {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 14px;
}

.checkoutFormTitle h2 {
    font-weight: lighter;
    font-size: 25px;
}

.checkoutForm,
.paymentInfoText,
.thankYouPage {
    display: none;
}

.confirmBackButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.confirmButton {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: larger;
    border: solid 2px white;
    transition: 500ms;
    padding: 13px;
    font-style: oblique;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin-top: 10px;
}

.confirmButton:hover {
    color: white;
    background-color: black;
}

.backButton {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: larger;
    transition: 500ms;
    padding: 10px;
    font-style: oblique;
    font-family: 'Raleway', sans-serif;
    margin-top: 15px;
}

.backButton:hover {
    color: #E6D8D7;
}

.cancellationPolicy {
    margin-bottom: 20px;
    font-style: oblique;
}

.hidden {
    display: none;
}

/* ----------------------- Thank you page --------------------------*/
.thankYouPageContentLeft img {
    width: 200px;
    height: 200px;
}

.thankYouPageContainer {
    padding: 50px;
    border: solid 2px #373B4D;
    width: 100%;
}

.thankYouPageContent {
    display: flex;
    align-items: center;
    height: 100%;
}

.thankYouPageContent2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.thankyouPageText {
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
}

.thankYouPageContentRow2 {
    padding: 5px 0px;
}

.thankYouPageContentRow2 p,
.thankYouPageContentRow2 span {
    font-family: 'Raleway', sans-serif;
}

.thankYouPageContentRow2 h1 {
    font-weight: lighter;
    font-size: 25px;
}

.totalPrices {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.thankYouPageContentLeft h1 {
    padding: 10px 0px;
}

.thankYouTitle h1 {
    font-size: 33px;
    font-weight: lighter;
}

.hidden {
    display: none;
}

.returnBtn button {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: larger;
    border: solid 2px white;
    transition: 500ms;
    padding: 13px;
    font-style: oblique;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin-top: 10px;
}

.returnButton a {
    text-decoration: none;
    color: black;
}

.returnBtn button:hover {
    background-color: transparent;
    color: white;
}

#bookName2,
#bookName3,
#bookName4 {
    font-size: 22px;
    color: #E6D8D7;
    font-family: 'Raleway', sans-serif;
}

.bookingInformationRow {
    font-family: 'Raleway', sans-serif;
}