.commonQuestionsHeroImage {
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("../IMAGES/WomanExitsCar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.commonQuestionsHeroText {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

.commonQuestionsHeroText h1 {
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: 400;
}

.commonQuestionsHeroText p {
    padding: 0 100px;
    line-height: 25px;
    font-style: oblique;
    font-family: 'Raleway', sans-serif;
}