.contact {
   padding: 50px;
   background-color: black;
}

.contactMap img {
   width: 100%;
}

.contactTitle h1 {
   color: #E6D8D7;
   font-size: 40px;
   font-weight: lighter;
   text-align: center;
}

.contactContainer {
   display: flex;
   align-items: center;
}

.contactRightText {
   color: white;
   padding: 20px 0px;
   line-height: 25px;
   letter-spacing: 1px;
   font-family: 'Raleway', sans-serif;
   box-sizing: border-box;
   width: 100%;
}

.contactRight {
   flex-basis: 40%;
   padding: 40px 60px;
}

.contactLeft {
   flex-basis: 60%;
   padding: 40px;
}

.contactInputRow {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.contactInputGroup {
   flex-basis: 100%;
   padding: 3px;
}

.contactRight input {
   border: solid 2px #373B4D;
   border-top: none;
   border-right: none;
   border-left: none;
   font-size: 15px;
   width: 100%;
   outline: none;
   background-color: black;
   font-style: oblique;
   color: aliceblue;
   padding: 10px;
   transition: 500ms;
   font-family: 'Roboto', sans-serif;
}

.contactRight textarea {
   border: solid 2px #373B4D;
   border-top: none;
   border-right: none;
   border-left: none;
   font-size: 15px;
   width: 100%;
   outline: none;
   background-color: black;
   font-style: oblique;
   color: aliceblue;
   padding: 10px;
   transition: 500ms;
   font-family: 'Roboto', sans-serif;
}

.contactRight textarea {
   resize: none;
}

.contactRight button {
   width: 100%;
}

.contactRight button {
   background-color: white;
   color: black;
   border: none;
   cursor: pointer;
   font-size: larger;
   border: solid 2px white;
   transition: 500ms;
   padding: 10px;
   font-style: oblique;
   font-family: 'Raleway', sans-serif;
}

.contactRight button:hover {
   color: white;
   background-color: black;
}

.contactRight input:focus,
.contactRight textarea:focus {
   border-bottom: solid 2px white;
}

.contactRight ::placeholder {
   color: rgba(255, 255, 255, 0.788);
   font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type=number] {
   -moz-appearance: textfield;
}

/* -------------------- Contact Left -------------------- */
.addressRow {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   padding: 2px;
}

.addressRow h1 {
   font-weight: lighter;
   color: #E6D8D7;
   font-size: 30px;
}

.addressRow p {
   font-size: 20px;
   font-family: 'Raleway', sans-serif;
   letter-spacing: 1px;
}