@media screen and (max-width: 1025px) {
    .footerContent {
        flex-direction: column;
        grid-gap: 5px;
        align-items: center;
    }

    /* -------------------- Footer -------------------- */

    .footerContent {
        flex-direction: column;
    }

    .footerLeft,
    .footerRight {
        padding: 5px;
    }
}

@media screen and (max-width: 769px) {
    /* ---------------------- Dashboard navigation ---------------------- */

    .dashboardNav {
        display: none;
    }

    .smallDashboardNav {
        display: flex;
    }

    .dashboardNavigation {
        display: none;
    }

    /* ---------------------- Overview Container ---------------------- */

    .overViewContainer {
        margin-left: 0;
    }

    /* ---------------------- Next trip ---------------------- */
    .nextTripLayout {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .tripMeta {
        flex-direction: column;
        align-items: baseline;
        grid-gap: 5px;
    }

    .driverPicture img {
        height: 100px;
        width: 100px;
    }

    /* ---------------------- Points ---------------------- */

    .pointsLayout {
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .bonusLevels {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-gap: 50px;
    }

    /* ---------------------- Footer ---------------------- */

    .footerContent {
        flex-direction: column;
        padding: 15px 20px;
        margin: 0px;
    }

    .footerLeft p {
        margin: 8px 0;
    }

    .footerRight {
        flex-direction: column;
    }

    .footerRight ul {
        padding: 0;
    }

    .footerRight ul {
        margin: 0;
    }

}


@media screen and (max-width: 541px) {

    /* ---------------------- Next trip ---------------------- */
    .nextTripLayout {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-gap: 15px;
        align-items: center;
    }

    .tripMeta {
        flex-direction: column;
        align-items: baseline;
        grid-gap: 5px;
    }

    .nextTripButtons {
        grid-column: 1 / -1;
        /* <- tar hela nedersta raden */
        display: flex;
        gap: 10px;
    }

    .nextTripButtons .btn {
        flex: 1;
        /* gör så att knapparna delar på bredden */
    }

    /* ---------------------- Points ---------------------- */

    .pointsLayout {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    /* -------------------- Footer -------------------- */
    .footerRight ul li {
        display: block;
        padding: 0.6rem;
    }
}

@media screen and (max-width: 426px) {}