header {
    position: fixed;
    width: 100%;
    padding: 16px;
    transition: 500ms;
    z-index: 1;
    background-color: black;
    border-bottom: 1px solid #F6DBC0;
}

.dashboardNav,
.smallDashboardNav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    transition: 500ms;
}

.dashboardNav ul {
    display: flex;
    gap: 2rem;
}

.dashboardNav li {
    list-style: none;
}

.dashboardNav a,
.smallDashboardNav a {
    text-decoration: none;
    color: white;
}

.dashboardNav a,
.login a {
    font-family: "Montserrat";
}

.logo {
    transition: 500ms;
}

.logo h1 {
    font-size: 2em;
    font-family: "Isabel Light";
    background: rgb(148, 101, 43);
    background: linear-gradient(90deg, rgba(148, 101, 43, 1) 0%, rgba(214, 192, 118, 1) 50%, rgba(148, 101, 43, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    font-weight: lighter;
}

.logo li {
    padding: 0;
    margin: 0;
}

.logo:hover {
    transform: scale(1.1);
}

#openDashboardNav {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 30px;
    line-height: 10px;
    border: none;
}

#closeNavbutton {
    width: 40px;
    height: 40px;
    background-color: #191919;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 10px;
    bottom: 27px;
    right: 19px;
    position: fixed;
    border-radius: 50%;
    border: solid 1px white;
}

#closeDashboardNav {
    display: none;
    top: 19px;
    left: 16px;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 30px;
    line-height: 10px;
    border: none;
}

.navBarfakeButton {
    visibility: hidden;
    user-select: none;
}

/* --------------- Smaller Navigation ---------------- */

.smallDashboardNav {
    display: none;
    box-sizing: border-box;
}

.smallDashboardLinks {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.895);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 500ms;
    border-left: solid 1px #E6D8D7;
}

.smallDashboardLinks ul {
    padding: 0px 20px;
}

.smallDashboardLinks li {
    list-style: none;
}

.smallDashboardLinks a {
    display: block;
    padding: 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: 500ms;
    font-family: "Montserrat";
}

.smallNavHR {
    border: solid .1px #373B4D;
    border-radius: 5px;
    width: 100%;
    margin: 20px 0px;
}