@media screen and (max-width: 1025px) {

    .mainPageContainer {
        min-height: 175vh;
    }

    /* -------------------- Dashboard navigation -------------------- */
    .dashboardNavigation {
        width: 290px;
    }

    .overviewContainer {
        margin-left: 290px;
    }

    /* -------------------- Footer -------------------- */

    .footerContent {
        flex-direction: column;
        grid-gap: 5px;
        align-items: center;
    }


    .footerContent {
        flex-direction: column;
    }

    .footerLeft,
    .footerRight {
        padding: 5px;
    }
}

@media screen and (max-width: 769px) {
    /* ---------------------- Dashboard navigation ---------------------- */

    .dashboardNav {
        display: none;
    }

    .smallDashboardNav {
        display: flex;
    }

    .dashboardNavigation {
        display: none;
    }

    /* ---------------------- Overview Container ---------------------- */

    .overviewContainer {
        margin-left: 0;
    }

    /* ---------------------- Next trip ---------------------- */
    .nextTripLayout {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .tripMeta {
        flex-direction: column;
        align-items: baseline;
        grid-gap: 5px;
    }

    .driverPicture img {
        height: 100px;
        width: 100px;
    }

    /* ---------------------- Points ---------------------- */

    .pointsLayout {
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .bonusLevels {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-gap: 50px;
    }

    /* ---------------------- Leasing ---------------------- */

    .leasingCarImage img {
        height: 150px;
        width: auto;
    }



    /* ---------------------- Footer ---------------------- */

    .footerContent {
        flex-direction: column;
        padding: 15px 20px;
        margin: 0px;
    }

    .footerLeft p {
        margin: 8px 0;
    }

    .footerRight {
        flex-direction: column;
    }

    .footerRight ul {
        padding: 0;
    }

    .footerRight ul {
        margin: 0;
    }

}


@media screen and (max-width: 541px) {

    .mainPageContainer {
        min-height: 205vh;
    }

    .overviewContainer {
        padding: 95px 5px 10px;
    }

    /* ---------------------- Next trip ---------------------- */
    .nextTripLayout {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-gap: 15px;
        align-items: center;
    }

    .tripMeta {
        flex-direction: column;
        align-items: baseline;
        grid-gap: 5px;
    }

    .nextTripButtons {
        grid-column: 1 / -1;
        display: flex;
        gap: 10px;
    }

    .nextTripButtons {
        flex: 1;
    }

    /* ---------------------- Points ---------------------- */

    .pointsLayout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .pointsGauge {
        display: none;
    }

    .bonusPoints {
        width: 100%;
    }

    .bonusHeadingRow {
        gap: 6px;
    }

    .usePointsButton {
        width: 100%;
        justify-content: center;
    }

    .bonusLevels {
        flex-direction: column;
        gap: 12px;
    }

    .bonusLevelsRight {
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

    .tierLink-SmallerScreens {
        display: block;
    }

    /* ---------------------- Leasing ---------------------- */

    .leasingLayout {
        display: block;
    }

    .leasingRight {
        display: none;
    }

    /* -------------------- Footer -------------------- */
    .footerRight ul li {
        display: block;
        padding: 0.6rem;
    }

}

@media screen and (max-width: 426px) {

    .mainPageContainer {
        min-height: 235vh;
    }

    /* -------------------- overviewContainer -------------------- */
    .overviewContainer {
        padding: 95px 0px 10px;
    }

    .dashboardGrid,
    .welcomeMessage {
        padding: 15px;
    }

    .welcomeMessage h1 {
        font-size: 28px;
    }

    /* ---------------------- Next trip ---------------------- */
    .nextTripLayout {
        display: flex;
        flex-direction: column;
    }

    .tripMeta,
    .tripBadges {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    /* ---------------------- Points ---------------------- */
    .bonusLevels {
        display: flex;
        flex-direction: column-reverse;

    }
}