@media screen and (max-width: 1025px) {}

@media screen and (max-width: 769px) {
    .dashboardNav {
        display: none;
    }

    .smallDashboardNav {
        display: flex;
    }
}

@media screen and (max-width: 541px) {}

@media screen and (max-width: 426px) {}