.carFleet {
    padding: 60px;
    position: relative;
    overflow: hidden;
}

.carousel-slide {
    flex: 0 0 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #D4A78C;
}

.carousel-slide.active {
    display: flex;
    /* Assuming you want to display them as flex containers */
}

.fleetSlideImage {
    display: flex;
    /* Stretch the image to take full height */
}

.fleetSlideImage img {
    width: 800px;
    height: 410px;
    object-fit: cover;
}

.carInfo {
    color: white;
    padding: 20px;
}

.carInfoParagraph {
    text-align: center;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
}

.carFleetButton li {
    list-style: none;
}

.carFleetButton ul {
    position: static;
}

.carInfo h1 {
    font-size: 40px;
    font-weight: lighter;
    color: #E6D8D7;
    text-align: center;
    padding: 20px;
}

.carFleetButton ul {
    text-align: center;
    width: 100%;
    padding: 20px;
}

.carFleetButton a {
    color: white;
    transition: 500ms;
    text-decoration: none;
}

.carFleetButton a:hover {
    color: #E6D8D7;
}

.prevCarfleetBtn,
.nextCarFleetbtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.prevCarfleetBtn {
    left: 10px;
}

.nextCarFleetbtn {
    right: 10px;
}

.carSpecsIcons {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 15px;
    user-select: none;
}

.specIconFrame {
    display: flex;
    padding: 20px;
    background-color: white;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

.specIcon img {
    width: 25px;
    height: 25px;
}

.specIcon p {
    font-size: 15px;
    padding-top: 5px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
}