body.active {
    overflow: hidden;
}

header {
    position: fixed;
    width: 100%;
    padding: 16px 0;
    transition: 500ms;
    z-index: 1;
    background-color: black;
}

.navigation {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    transition: 500ms;
}

.navigation ul {
    display: flex;
    gap: 2rem;
}

.navigation li {
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigationLinks a,
.login a {
    font-family: "Montserrat";
}

.logo {
    transition: 500ms;
}

.logo h1 {
    font-size: 2em;
    font-family: "Isabel Light";
    background: rgb(148, 101, 43);
    background: linear-gradient(90deg, rgba(148, 101, 43, 1) 0%, rgba(214, 192, 118, 1) 50%, rgba(148, 101, 43, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    font-weight: lighter;
}

.logo li {
    padding: 0;
    margin: 0;
}

.logo:hover {
    transform: scale(1.1);
}

/* ----------------------- Small Navigation  -------------------------- */

#openNavbutton,
#closeNavbutton {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #191919;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 10px;

    bottom: 27px;
    right: 19px;
    position: fixed;
}

.smallNavigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.895);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 500ms;
    border-left: solid 1px #E6D8D7;
}

.smallNavigation a {
    display: block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: 500ms;
    font-family: "Montserrat";
}


/*
#openNavbutton span,
#closeNavbutton span {
    width: 25px;
    height: 25px;
    color: white;
    line-height: 10px;
}

#openNavbutton {
    display: none;
    bottom: 7%;
    /*top: 93%; 
    right: 2%;
    position: fixed;
    background-color: #191919;
    border-radius: 100px;
    padding: 10px;
    border: solid .5px white;
    margin: 0px;
}

#closeNavbutton {
    display: none;
    bottom: 7%;
    /*top: 93%; 
    right: 2%;
    position: fixed;
    background-color: #191919;
    border-radius: 100px;
    padding: 10px;
    margin: 0px;
}

.smallNavigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.895);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 500ms;
    border-left: solid 1px #E6D8D7;
}

.smallNavigation a {
    display: block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: 500ms;
    font-family: "Montserrat";
}

#main {
    transition: margin-left .5s;
}  

*/