@media screen and (max-width: 1025px) {
	body {
		overflow-x: hidden;
	}

	#openNavbutton {
		display: block !important;
	}

	.heroImageText {
		width: 100%;
	}

	/* -------------------- Log In -------------------- */

	.loginRight {
		flex-basis: 50%;
		padding: 40px;
	}

	.loginLeft {
		flex-basis: 50%;
		min-height: 60vh;
		width: 300px !important;
		background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("../IMAGES/VolvoOceanSmallScreen.jpg");
		background-position: right;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		padding: 40px !important;
	}

	/* -------------------- Sign Up -------------------- */

	.formContainer {
		box-shadow: none !important;
	}

	/* -------------------- Service -------------------- */

	.serviceInfo {
		display: grid;
		grid-template-columns: 5% 90% 5% !important;
	}

	/* -------------------- Section 1 Limovia Number Show-------------------- */

	.navigationLinks,
	.login {
		display: none;
	}

	/* -------------------- About Limovia Hero Image -------------------- */

	.aboutLimoviaHeroText {
		width: 90%;
	}

	.aboutLimoviaHeroText p {
		padding: 0px !important;
	}

	/* -------------------- About Limovia Slideshow -------------------- */
	.slides {
		padding: 0px !important;
		width: 70%;
	}

	.slides p {
		padding: 10px;
	}

	.prev,
	.next {
		top: 40% !important;
	}

	/* -------------------- Our Services -------------------- */
	.ourServicesContainer {
		display: grid;
		grid-template-columns: repeat(2, 1fr) !important;
		grid-gap: 30px;
	}

	.ourServices {
		padding: 50px 25px !important;
	}

	.readMoreServicesButton {
		margin: 10px !important;
	}

	/* -------------------- Common Questions -------------------- */

	.commonQuestionsHeroParagraph {
		padding: 0px !important;
	}

	.commonQuestionsHeroText {
		width: 100%;
	}

	.questions h2 {
		height: 150px !important;
	}

	/* -------------------- Fleet -------------------- */

	.fleetSlideImage img {
		width: 902px !important;
		height: 500px !important;
		object-fit: cover;
	}

	.carousel-slide {
		display: flex;
		flex-direction: column;
	}

	/* -------------------- Contact -------------------- */

	.profile img {
		width: 290px !important;
		max-width: 150%;
		height: 190px !important;
		border-radius: 3px;
	}

	.contactContainer {
		display: flex;
		flex-direction: column-reverse;
	}

	/* -------------------- Footer -------------------- */

	.footerContent {
		flex-direction: column;
	}

	.footerLeft,
	.footerRight {
		padding: 5px;
	}
}

@media screen and (max-width: 913px) {

	/* -------------------- Section 1 About Limovia -------------------- */
	.aboutLimoviaInfo img {
		width: 700px !important;
		height: auto;
	}
}

@media screen and (max-width: 821px) {

	/* -------------------- Section 1 About Limovia -------------------- */
	.aboutLimoviaInfo img {
		width: 600px !important;
		height: auto;
	}
}

@media screen and (max-width: 769px) {

	/* -------------------- Log In -------------------- */

	.loginRight {
		flex-basis: 99%;
		padding: 40px;
	}

	.loginLeft {
		flex-basis: 1%;
		min-height: 60vh;
		width: 300px !important;
		background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
			url("../IMAGES/VolvoOceanSmallScreen.jpg");
		background-position: right;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		padding: 40px !important;
		display: none;
	}

	/* -------------------- Sign Up -------------------- */

	body {
		overflow-y: hidden !important;
	}

	.signUpPrivateContainer,
	.signUpCompanyContainer {
		padding: 0px;
	}

	/* -------------------- Section 1 Limovia Number Show-------------------- */

	.section1 .numberShowContainer {
		display: grid;
		grid-template-columns: auto;
	}

	.numberShow .numberShowHR {
		transform: rotate(0deg);
		margin: 40px;
		align-items: center;
		width: 25rem;
		height: 2px;
		border-style: solid;
		border-radius: 5px;
	}

	/* -------------------- Section 1 About Limovia -------------------- */

	.aboutLimoviaImage768px {
		display: flex !important;
	}

	.aboutLimoviaImage {
		display: none;
	}

	.aboutLimovia {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.aboutLimoviaInfo img {
		width: 500px;
		height: auto;
	}

	/* -------------------- About Limovia Slideshow -------------------- */
	.prev,
	.next {
		margin: 0 !important;
	}

	.slides {
		padding: 0px !important;
		width: 80%;
	}

	/* -------------------- Common Questions -------------------- */

	.questionCards {
		display: grid !important;
		grid-template-columns: repeat(2, 1fr);
	}

	.questionContainer {
		padding: 50px 20px !important;
	}

	.questions h2 {
		height: 120px !important;
	}

	/* -------------------- Fleet -------------------- */

	.fleetSlideImage img {
		width: 640px !important;
		height: 500px !important;
		object-fit: cover;
	}

	/* -------------------- Contact -------------------- */

	.contactLeft {
		grid-gap: 10px !important;
	}

	.profile img {
		width: 290px !important;
		max-width: 150%;
		height: 190px !important;
	}

	.contactRight {
		padding: 40px 10px !important;
	}

	.contactLeft {
		padding: 40px 10px !important;
	}


	/* -------------------- Footer -------------------- */
	.footerContent {
		flex-direction: column;
		padding: 15px 20px;
	}

	.footerLeft p {
		margin: 8px 0;
	}

	.footerRight {
		flex-direction: column;
	}

	.footerRight ul {
		padding: 0;
	}

	.footerRight ul {
		margin: 0;
	}
}

@media screen and (max-width: 541px) {

	/* -------------------- Sign Up -------------------- */

	.formContainer {
		width: 100%;
	}

	/* ------------------------- Main Hero Image --------------------------- */
	.heroImageQuote {
		padding: 0px !important;
	}

	/* -------------------- Section 1 About Limovia -------------------- */
	.aboutLimoviaInfo img {
		width: 370px !important;
		height: auto;
	}

	.aboutLimoviaText1 {
		font-size: 20px !important;
	}

	/* -------------------- About Limovia Slideshow -------------------- */
	.prev,
	.next {
		display: none;
	}

	/* -------------------- Our Services -------------------- */
	.ourServicesContainer {
		display: grid;
		grid-template-columns: repeat(1, 1fr) !important;
		grid-gap: 30px;
	}


	/* -------------------- Common Questions -------------------- */

	.searchBar input[type="text"] {
		width: 300px !important;
	}

	.searchBar input[type="text"]:focus {
		border: solid 2px white;

	}

	.questionCards {
		display: grid !important;
		grid-template-columns: repeat(1, 1fr);
		text-align: center;
	}

	.questionContainer {
		padding: 50px 20px !important;
	}

	.questions h2 {
		height: 115px !important;
	}

	/* -------------------- Fleet -------------------- */

	.fleetSlideImage img {
		width: 300px !important;
		height: 200px !important;
		object-fit: cover;
	}

	.carSpecsIcons {
		grid-template-columns: repeat(4, 65px) !important;
		grid-gap: 5px !important;
	}

	.specIcon img {
		width: 15px !important;
		height: 15px !important;
	}

	.specIcon p {
		font-size: 10px !important;
		padding-top: 5px;
	}

	.carInfo h1 {
		font-size: 35px !important;
	}

	/* -------------------- Contact -------------------- */

	.profile img {
		width: 200px !important;
		max-width: 150%;
		height: 150px !important;
	}


	/* -------------------- Footer -------------------- */
	.footerRight ul li {
		display: block;
		padding: 0.6rem;
	}
}

@media screen and (max-width: 426px) {

	/* -------------------- Log In -------------------- */

	.logInContainer {
		flex-direction: column;
		max-width: 100%;
		box-shadow: none !important;
	}

	.loginRight {
		padding: 20px;
	}

	.loginForm {
		padding: 20px;
	}

	.loginInputRow.checkboxAndText {
		display: flex;
		align-items: center;
	}

	.logoAndText {
		font-size: smaller;
	}

	.signUp {
		flex-wrap: wrap;
	}

	/* -------------------- Sign Up -------------------- */

	body {
		display: block;
		overflow-y: scroll !important;
	}

	.formContainer {
		width: 100%;
	}

	.signUpInputGroup {
		flex-direction: column;
	}

	.signUpInputRow {
		padding: 10px;
	}

	.selectWheelTitle,
	.selectWheelRegion {
		margin: 0px;
	}

	.accountChangeButtons {
		align-items: center;
		justify-content: center;
	}

	.accountChangeButtons button {
		width: 40%;
	}

	.signUpAndText span {
		font-size: 25px;
	}

	/* -------------------- Section 1 About Limovia -------------------- */
	.aboutLimoviaInfo img {
		width: 300px !important;
		height: auto;
	}

	.aboutLimoviaText1 {
		font-size: 18px !important;
	}


	/* -------------------- Common Questions -------------------- */

	.searchBar input[type="text"] {
		width: 250px !important;
	}

	.searchBar button {
		width: 49px;
	}

	/* -------------------- Contact -------------------- */

	.contact {
		padding: 50px 10px !important;
	}

	.profile img {
		width: 350px !important;
		max-width: 100%;
		height: 250px !important;
	}

	.contactLeft {
		display: grid;
		grid-template-columns: repeat(1, 1fr) !important;
		grid-gap: 30px;
		text-align: center;
	}
}