@media screen and (max-width: 1025px) {
	body {
		overflow-x: hidden;
	}

	.heroImageText {
		width: 100%;
	}

	/* -------------------- Section 1 Limovia Number Show-------------------- */

	.navigationLinks,
	.login {
		display: none;
	}
}

@media screen and (max-width: 769px) {
	/* -------------------- Section 1 Limovia Number Show-------------------- */

	.section1 .numberShowContainer {
		display: grid;
		grid-template-columns: auto;
	}

	.numberShow .numberShowHR {
		transform: rotate(0deg);
		margin: 40px;
		align-items: center;
		width: 25rem;
		height: 2px;
		border-style: solid;
		border-radius: 5px;
	}

	/* -------------------- Footer -------------------- */
	.footerContent {
		flex-direction: column;
		padding: 15px 20px;
	}

	.footerLeft p {
		margin: 8px 0;
	}

	.footerRight {
		flex-direction: column;
	}

	.footerRight ul {
		padding: 0;
	}

	.footerRight ul {
		margin: 0;
	}
}

@media screen and (max-width: 541px) {

	/* -------------------- Footer -------------------- */
	.footerRight ul li {
		display: block;
		padding: 0.6rem;
	}
}

@media screen and (max-width: 426px) {}