body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

.signUpCompanyContainer {
    display: none;
}

.signUpAndText {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.signUpAndText h1 {
    color: white;
    font-weight: lighter;
    font-size: 2.5em;
    font-family: "Isabel Thin";
    background: rgb(148, 101, 43);
    background: linear-gradient(90deg, rgba(148, 101, 43, 1) 0%, rgba(214, 192, 118, 1) 50%, rgba(148, 101, 43, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    font-weight: lighter;
    user-select: none;
}

.signUpAndText span {
    color: white;
    font-size: 30px;
    padding-left: 5px;
    font-family: 'Raleway', sans-serif;
}

.signUpPrivateContainer,
.signUpCompanyContainer {
    padding: 20px;
}

.accountChangeButtons {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

.accountChangeButtons button {
    width: 180px;
    padding: 5px;
    box-sizing: border-box;
    margin-right: 10px;
    background-color: white;
    border: solid 2px white;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: 500ms;
    font-size: large;
    border-radius: 5px;
}

.accountChangeButtons button:hover {
    background-color: black;
    color: white;
}

.formContainer {
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 600ms;
    width: 550px;
    box-shadow: 5px 5px 10px #191919, -5px 5px 10px #191919, 0px 5px 10px #191919, 5px 0px 10px #191919;
}

.formContainer:hover {
    box-shadow: 5px 5px 10px #373b4d77, -5px 5px 10px #373b4d77, 0px 5px 10px #373b4d77, 5px 0px 10px #373b4d77;
}

.signUpInputRow {
    padding-bottom: 10px;
}

.signUpInputRow input {
    width: 100%;
    font-size: 16px;
    outline: none;
    font-style: oblique;
    color: aliceblue;
    transition: 500ms;
    font-family: 'Roboto', sans-serif;
    padding: 13px;
    box-sizing: border-box;
    background-color: black;
    border: solid 2px #373B4D;
}

.signUpInputRow input:focus {
    border: solid 2px white;
}

.signUpInputGroup input {
    margin: 5px;
}

.signUpInputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.selectWheelTitle {
    margin: 5px;
    position: relative;
    width: 120px;
    padding-bottom: 10px;
}

.selectWheelTitle select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 13px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    outline: none;
}

.selectWheelTitle::before {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 14px;
}

.selectWheelRegion {
    margin: 5px;
    position: relative;
    width: 70%;
}

.selectWheelRegion select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 13px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    outline: none;
    width: 245px;
}

.selectWheelRegion::before {
    content: '\25BC';
    position: absolute;
    top: 50%;
    width: 150px;
    right: 10px;
    transform: translateY(-50%);
    font-size: 14px;
}

.signUpButton {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.signUpInputRow button {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: larger;
    border: solid 2px white;
    transition: 500ms;
    padding: 13px;
    font-style: oblique;
    width: 50%;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin-top: 10px;
}

.signUpInputRow button:hover {
    color: white;
    background-color: black;
}

.logIn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logIn span {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.logIn ul,
.logIn li {
    list-style: none;
    padding-left: 5px;
    font-family: 'Raleway', sans-serif;
}

.logIn a {
    color: #E6D8D7;
    transition: 500ms;
    text-decoration: none;
    border-bottom: solid 2px black;
}

.logIn a:hover {
    color: #E6D8D7;
    border-bottom: solid 2px;
}

.signUpInputRow label {
    margin: 5px;
    box-sizing: border-box;
    color: white;
    font-family: 'Raleway', sans-serif;
}