* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #191919;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

section {
    padding-top: 20px;
    /* Add padding to the section */
    /* Add other styles as needed */
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    width: 0px;
}

@font-face {
    font-family: "Hedvig Serif";
    src: url("../FONTS/HedvigLettersSerif-Regular-VariableFont_opsz.ttf");
}

@font-face {
    font-family: "Isabel Light";
    src: url("../FONTS/Fontspring-DEMO-isabel-light.otf");
}

@font-face {
    font-family: "Isabel Thin";
    src: url("../FONTS/Fontspring-DEMO-isabel-light.otf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../FONTS/Montserrat-VariableFont_wght.ttf");
}

/*@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");*/